.body{
    padding: 30px;
    flex: 0.8;
    color: white;
    overflow-y: overlay;
    height: 190vh;
    background: linear-gradient( rgba(91, 87, 115, 0.918),rgba(0,0,0,1));
}
.body::-webkit-scrollbar{
    display: none;
}
.body_info{
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.body_icons{
    display: flex;
    align-items: center;
}
.body_icons > .MuiSvgIcon-root{
    margin-right: 20px;
}
.body_infoText{
    flex: 1;
    margin-left: 10px;
}
.body_info > img{
    height: 15vw;
    margin: 0,20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0,0.5) ;
}
.body_shuffle {
    font-size: 70px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .body_shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
  }
  
  .body_songs {
    z-index: 1;
    margin: 20px -30px;
  }
.body_infoText > p{
    font-size: 14px;
}
.body_infoText > h2{
    font-size: 48px;
    margin-bottom: 10px;
}