.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 98%;
    background-color: #282828;
    padding: 20px;
}
.footer_left{
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;
}
.footer_albumlogo{
    height: 60px;
    width:60px;
    margin-right:20px;
    object-fit: contain;
}
.footer_green{
    color: #1ed15e;
}
.footer_songInfo>h4{
    margin-bottom: 5px;
}
.footer_songInfo > p{
    font-size: 12px;
}
.footer_right * .MuiSlider-root{
    color: green;
}
.footer_icon:hover,.footer_green:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}
.footer_center{
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer_right{
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}