.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header_left{
    flex: 0.5;
    min-width: 80px;
    background-color: white;
    color: grey;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    align-items: center;
}
.header_left > input{
    border: none transparent;
    width: 100%;
}
.header_right{
    display: flex;
    align-items: center;
}
.header_right > h4{
    margin-left: 10px;
}