.sidebar{
    height: 190vh;
    flex: 0.2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    background-color: #040404;
}
.sidebar_logo{
    height: 70px;
   padding: 10px;
   margin-right: auto;
}
.sidebar_title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}